<ion-view view-title="Title">
  <ion-content>
		<div class="tables-container">
			<div class="table-area-container">
				<div class="table-area-header">
					<h2 class="table-area-name">Ruang Utama</h2>
				</div>
				<ul class="table-area-inner-container cf">
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li class="table-occupied">4</li>
					<li class="table-occupied">5</li>
					<li class="table-occupied">6</li>
					<li>7</li>
					<li>8</li>
					<li>9</li>
					<li class="table-occupied">10</li>
					<li>11</li>
					<li class="table-occupied">12</li>
					<li>13</li>
					<li>14</li>
					<li>15</li>
					<li class="table-occupied">16</li>
					<li>17</li>
					<li>18</li>
					<li>19</li>
					<li class="table-occupied">20</li>
					<li class="table-occupied">21</li>
					<li>22</li>
					<li>23</li>
					<li>24</li>
					<li>25</li>
					<li>26</li>
					<li class="table-occupied">27</li>
					<li>28</li>
					<li>29</li>
					<li>30</li>

				</ul>
			</div>
			<div class="table-area-container">
				<div class="table-area-header">
					<h2 class="table-area-name">Ruang Samping</h2>
				</div>
				<ul class="table-area-inner-container cf">
					<li class="table-occupied">1</li>
					<li class="table-occupied">2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li class="table-occupied">6</li>
					<li>7</li>
					<li>8</li>
					<li>9</li>
					<li>10</li>
					<li class="table-occupied">11</li>
					<li>12</li>
					<li>13</li>
					<li>14</li>
					<li class="table-occupied">15</li>
					<li>16</li>
					<li>17</li>
					<li>18</li>
					<li>19</li>
					<li>20</li>
				</ul>
			</div>
		</div>
		<div class="take-away-container">
			<div class="take-away-header cf">
				<h2 class="take-away-name">Take Away Queue</h2>
				<a href="new-order.html" class="btn-add-queue"></a>
			</div>
			<ul class="take-away-queue-container cf">
				<li>Anita<span>#734</li>
				<li>Rizki<span>#736</li>
				<li>Dwi<span>#737</li>
				<li>Raisa<span>#738</li>
			</ul>
		</div>
	</ion-content>
</ion-view>