<table class="order-list">
	<thead>
		<tr>
			<th width="50%">Nama</th>
			<th width="6%">Qty</th>
			<th width="22%">Satuan</th>
			<th width="22%">Total</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-click="clickItem(orderItem)" on-hold="openDiscounts(orderItem)" ng-repeat="orderItem in order.order_items">
			<td width="50%">{{orderItem.name}}</td>
			<td width="6%">
				<span ng-hide="order.type == 'move' || order.waiting == false">
					{{orderItem.quantity - orderItem.paid_quantity - orderItem.void_quantity - orderItem.oc_quantity}}
				</span>
				<span ng-show="order.waiting == false">
					{{orderItem.paid_quantity}}
				</span>
				<span ng-show="order.type == 'move'">
					{{orderItem.pay_quantity}}
				</span>
			</td>
			<td width="22%">
				{{orderItem.price | currency:"Rp "}}
				<span ng-show="orderItem.discount_id" class="default-price">
					{{orderItem.default_price | currency:"Rp "}}
				</span>
			</td>
			<td width="22%" ng-hide="order.type == 'move'">{{orderItem.price * orderItem.quantity | currency:"Rp "}}</td>
			<td width="24%" ng-show="order.type == 'move'">{{orderItem.price * orderItem.pay_quantity | currency:"Rp "}}</td>
		</tr>
	</tbody>
</table>
<div class="order-counts cf">
	<div class="order-count-item">
		<p>Diskon</p>
		<h2>{{getDiscountAmount(order) | currency:"Rp ":0}}</h2>
	</div>
	<div class="order-count-item">
		<p>Sub-Total</p>
		<h2>{{getSubTotal(order) | currency:"Rp ":0}}</h2>
	</div>
	<div class="order-count-item">
		<p>PPN</p>
		<h2>{{getTax('PPn', order) | currency:"Rp ":0}}</h2>
	</div>
	<div class="order-count-item">
		<p>TOTAL</p>
		<h2 class="order-total">{{getTotal(order) | currency:"Rp ":0}}</h2>
	</div>
	<div class="order-count-item">
		<p>Service</p>
		<h2>{{getTax('Service', order) | currency:"Rp ":0}}</h2>
	</div>
	<div class="order-count-item">
		<p>Ditagihkan</p>
		<h2 class="order-total-charge">{{getPaidAmount(order) | currency:"Rp ":0}}</h2>
	</div>
</div>