<table class="order-list">
	<thead>
		<tr>
			<th width="52%">Nama</th>
			<th width="8%">Qty</th>
			<th width="20%">Satuan</th>
			<th width="20%">Total</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-click="clickItem(orderItem)" ng-repeat="orderItem in order.order_items">
			<td width="52%">{{orderItem.name}}</td>
			<td width="8%" ng-hide="order.type == 'split'">{{orderItem.quantity - orderItem.paid_quantity}}</td>
			<td width="8%" ng-show="order.type == 'split'">{{orderItem.move_quantity}}</td>
			<td width="20%">{{orderItem.price | currency:"Rp "}}</td>
			<td width="20%" ng-hide="order.type == 'split'">{{orderItem.price * orderItem.quantity | currency:"Rp "}}</td>
			<td width="20%" ng-show="order.type == 'split'">{{orderItem.price * orderItem.move_quantity | currency:"Rp "}}</td>
		</tr>
	</tbody>
</table>
<div class="order-counts cf">
	<div class="order-count-item">
		<p>Diskon</p>
		<h2>{{order.discount_amount | currency:"Rp ":0}}</h2>
	</div>
	<div class="order-count-item">
		<p>Sub-Total</p>
		<h2>{{getSubTotal(order) | currency:"Rp ":0}}</h2>
	</div>
	<div class="order-count-item">
		<p>PPN</p>
		<h2>{{getTax('PPn', order) | currency:"Rp ":0}}</h2>
	</div>
	<div class="order-count-item">
		<p>TOTAL</p>
		<h2 class="order-total">{{getTotal(order) | currency:"Rp ":0}}</h2>
	</div>
	<div class="order-count-item">
		<p>Service</p>
		<h2>{{getTax('Service', order) | currency:"Rp ":0}}</h2>
	</div>
	<div class="order-count-item">
		<p>Ditagihkan</p>
		<h2 class="order-total-charge">{{getPaidAmount(order) | currency:"Rp ":0}}</h2>
	</div>
</div>