<ion-view>
	<ion-nav-buttons side="right">
	  <button class="button button-icon icon ion-arrow-left-a light" ng-click="goBack()"></button>
	</ion-nav-buttons>
  <ion-content scroll="false">
  	<div class="wrapper">
	  	<div class="left-container" ng-hide="showLeft == 'splitOrder' || showLeft == 'splitCalculator'">
				<div class="left-inner-container">
					<a class="btn-add-order btn-disabled" ng-click="showMenu()" ng-if="order.waiting == true"></a>
					
					<div class="order-table-properties">
						<h2 class="order-table-number">
							Order {{ orderHeader(order) }} 
							<a class="button button-icon icon ion-trash-a" ng-if="itemBlank" ng-click="removeOrder(order)"></a>
						</h2>
						<h3 class="order-table-customer">{{order.name}}
							<span ng-if="order.waiting == false"> - {{order.struck_id}}</span>
						</h3>
					</div>
					<eresto-item-list order="order"> </eresto-item-list>
				</div>
				<ul class="transactional-buttons-container" ng-if="order.waiting == true" ng-hide="showLeft == 'splitOrder' || showLeft == 'splitCalculator'">
					<li>
						<a class="btn-rounded btn-secondary btn-transaction-move" ng-click="showItemBox()"></a>
						<p>Move</p>
					</li>
					<li>
						<a class="btn-rounded btn-secondary btn-transaction-diskon-rp" ng-click="addDiscountAmount(order)"></a>
						<p>Diskon Rp</p>
					</li>
					<li>
						<a class="btn-rounded btn-secondary btn-transaction-diskon-persen" ng-click="addPercentDiscount(order)"></a>
						<p>Diskon %</p>
					</li>
					<li>
						<a class="btn-rounded btn-secondary btn-transaction-save" ng-click="saveOrder(order)"></a>
						<p>Save</p>
					</li>
					<li>
						<a class="btn-rounded btn-secondary btn-transaction-print" ng-click="printOrder(order)"></a>
						<p>Print</p>
					</li>
					<li>
						<a class="btn-rounded btn-primary btn-transaction-pembayaran" ng-click="showCalculator(order)"></a>
						<p>Pembayaran</p>
					</li>
				</ul>
				<ul class="transactional-buttons-container" ng-if="order.waiting == false">
					<li>
						<a class="btn-rounded btn-secondary btn-transaction-print" ng-click="reprintOrder(order)"></a>
						<p>Reprint</p>
					</li>
				</ul>
			</div>
			<div class="left-container" ng-show="showLeft == 'splitOrder'">
				<div class="left-inner-container">
					<div class="order-table-properties">
						<h2 class="order-table-number">Split Order</h2>
						<h3 class="order-table-customer">{{order.name}}</h3>
					</div>
					<eresto-item-list order="move_order" base_order="order"> </eresto-item-list>
				</div>
				<ul class="transactional-buttons-container">
					<li>
						<a class="btn-rounded btn-secondary btn-transaction-cancel" ng-click="cancelSplit(order, move_order)"></a>
						<p>Cancel</p>
					</li>
					<li>
						<a class="btn-rounded btn-secondary btn-transaction-print" ng-click="printSplitOrder(move_order)"></a>
						<p>Print</p>
					</li>
					<li>
						<a class="btn-rounded btn-primary btn-transaction-pembayaran" ng-click="showCalculator(move_order)"></a>
						<p>Pembayaran</p>
					</li>
				</ul>
			</div>
			<div class="right-container cf" ng-if="showRight != ''">
				<div class="choose-menu-container" eresto-menu ng-show="showRight=='menu'"></div>
				<div class="left-inner-container"  ng-show="showRight=='move'">
					<div class="order-table-properties">
						<h2 class="order-table-number">Move Order</h2>
						<h3 class="order-table-customer">{{order.name}}</h3>
					</div>
					<eresto-item-list order="move_order" base_order="order"> </eresto-item-list>
				</div>
				<ul class="transactional-buttons-container" ng-show="showRight=='move'">
					<li>
						<a class="btn-rounded btn-secondary btn-transaction-cancel" ng-click="cancelMove(order, move_order)"></a>
						<p>Cancel</p>
					</li>
					<li>
						<a class="btn-rounded btn-secondary btn-transaction-void" ng-click="voidOrder(move_order)"></a>
						<p>Void</p>
					</li>
					<li>
						<a class="btn-rounded btn-secondary btn-transaction-oc" ng-click="ocOrder(move_order)"></a>
						<p>Opr Cost</p>
					</li>
					<li>
						<a class="btn-rounded btn-secondary btn-transaction-split" ng-click="splitOrder()"></a>
						<p>Bayar Pisah</p>
					</li>
				</ul>
				<div class="calculator-container cf" eresto-payment order="order" ng-show="showRight=='orderCalculator'"></div>
				<div class="calculator-container cf" eresto-payment order="move_order" ng-if="showRight=='splitCalculator'"></div>
			</div>
		</div>
  </ion-content>
</ion-view>