<div class="main-container cf">
  <div class="top-bar bar-header">
    <div class="page-heading">
      <h1>
        {{outlet.name || "Bober Cafe"}} 
        <button class="button button-icon icon ion-refresh light" ng-click="refresh()" ng-show="$state.current.name == 'main.dashboard'"></button>
        <button class="button button-icon icon ion-arrow-left-a light" ng-click="goBack()" ng-show="$state.current.name == 'main.order'"></button>
      </h1> 
    </div>
    <div class="account-tab">
      <p>Welcome {{name || "user"}}, <a ng-click="logout()">Logout</a></p>
    </div>
  </div>

  <div class="card" ng-if="message">
    <div class="item item-text-wrap">
      {{message}}
    </div>
  </div>

  <ion-nav-view name="mainContent" animation="slide-left-right" class="content"></ion-nav-view>
</div>
